

.row-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    color: #fff;
}

.calendar{
    width: 20.833vw;
    height: auto;
}
/* HEAD */
.calendar-head{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.563vw 0;
}
.calendar-head .left-arrow{
    border-style: solid;
    border-color: transparent #F190A1 transparent transparent;
    border-width: 0.781vw 0.781vw 0.781vw 0;
    margin-right: 2.083vw;
    cursor: pointer;
}

.calendar-head .month{
    padding: 0;
    margin: 0;
    width: 8.5vw;
    font-size: 1.5vw;
}

.calendar-head .right-arrow{
    border-style: solid;
    border-color: transparent transparent transparent #F190A1;
    border-width: 0.781vw 0 0.781vw 0.781vw;
    margin-left: 2.083vw;
    cursor: pointer;
}

.calendar-head .year{
    font-size: 1.229vw;
    color: #F190A1 ;
    font-weight: 100;
}

hr{
    margin: 0;
    padding: 0;
    background-color: #F190A1;
}

/* DAYS */
.calendar-days{
    display: flex;
    justify-content: space-evenly;
    color: #F190A1;
    font-weight: 100;
    margin-top: 1.042vw;
    font-size: 1.229vw;
}

.calendar-days .name{
    width: 14.28%;
    text-align: center;
    font-size: 1.229vw;
}

/* BODY */

.calendar-body{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.229vw;
}

.calendar-body .day{
    width: 2.9vw;
    height: 3.3vw;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    background: #F190A1;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reminder{
    background-color: #976BA6;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-weather{
    width: 80%;
    background: #F190A1;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,.35);
    padding: 1.042vw;
}
